.search-form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;
}

.dropdown {
  position: absolute;
  margin-top: calc(2rem - 2px);
  z-index: 1001;
  width: 100%;
  background-color: #fff;
}
