<article>
  <form class="search-form" (submit)="getCityList()" autocomplete="off">
    <div class="input-wrapper">
      <input
        type="text"
        name="city"
        placeholder="Enter city name"
        class="w-input"
        [(ngModel)]="cityName"
        ngDefaultControl
        [ngModelOptions]="{ standalone: true }"
      />
      <cities-menu
        *ngIf="showMenu && cities?.length > 0"
        [cities]="cities"
        (selectCity)="onSelectCity($event)"
        class="dropdown"
      ></cities-menu>
    </div>
    <button type="submit" class="w-button">Search</button>
  </form>
</article>
